@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'EB Garamond', serif;
overflow-x:hidden;
 
  
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active{
  color: blue;
}
