@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Roboto', sans-serif;
overflow-x:hidden;
background: rgb(239,237,239);
background: linear-gradient(90deg, rgba(239,237,239,1) 0%, rgba(236,237,245,1) 53%, rgba(242,242,242,1) 100%);
 
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active{
  color: blue;
}
